nav{
    margin-left: 0.6rem;
    box-shadow: 0px 1px 6px #00000029;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 0;
}
nav li{
    margin: 0;
    cursor: pointer;
    padding: 0.3rem;
    font-size: 0.8rem;
    color: #707070;
    list-style: none;
    margin-left: 1.5rem;
}

nav .active{
    padding-bottom: 0;
    color: #112949;
    border-bottom: 5px solid #112949;
}
.entities{
    margin: 0.6rem;
    margin-left: 1.3rem;
    border-radius: 10px;
    box-shadow: 0px 1px 6px #00000029;
}
.content-heading{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.content-heading h2{
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    color: #707070;
    font-weight: 400;
    font-size: 0.9rem;
}
.content-heading>i{
    margin-bottom: 0;
    color: #3CC3F2;
    font-size: 1.4rem;
}
table{
    margin: 0;
    width: 100%;
    border-spacing:10px 10px;
    border-radius: 5px;
}
table i{
    margin-top: 16px;
    margin-right: 10px;
    color: #3CC3F2;
    font-size: larger;
}
.table-collection th{
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    text-align: left;
    color: #707070;
    font-size: 0.8rem;
    font-weight: 400;
    border-spacing:0 20px;
}
.table-collection td{
    padding-left: 10px;
    font-size: 0.7rem;
    color: #112949;
    height: 3rem;
    border-spacing:0 20px;
}
.table-collection{
    box-shadow: 0px 1px 6px #00000029;
}
.details-table{
    box-shadow: 0px 1px 6px #00000029;
}
.details-table i{
    margin-top: 5px;
    margin-right: 1px;
    vertical-align: top;
}
.details-table i1{
    padding-left: 1rem;
    font-size: 1rem;
    color:#3CC3F2;
}
.details-table i2{
    padding-left: 0.5rem;
    color:#3CC3F2;
    font-size: 1rem;
}
.details-table th{
    margin: 0;
    padding: 0;
    text-align: left;
    color: #707070;
    font-size: 0.8rem;
    font-weight: 400;
}
.details-table td{
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    color: #112949;
    vertical-align: top;
}
.details-table h2,p{
    margin: 0;
    padding: 0;
    font-size: 0.7rem; 
}
.details-table h2{
    padding-bottom: 0.3rem;
    color: #707070;
    font-weight: 400;
}