.nav{
    top: 0px;
    left: 0px;
    width: 60px;
    height: 100%;
    background: transparent linear-gradient(180deg, #112949 0%, #000000 100%) 0% 0%  no-repeat padding-box;
    box-shadow: 3px 0px 3px grey;
}
.logo{
    top: 32px;
    margin-left: 7px;
    margin-top: 20px;
    width: 42px;
    height: 46px;
}
.nav_btn{
    cursor: pointer;
    top: 120px;
    margin-left: 10px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background: #EB9CBA;
}
.nav_btn:hover{
    border: 4px solid grey;
    transition: 0.1s;
}
@media screen and (max-width:680px) {
    .nav{
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: fit-content;
        background: transparent linear-gradient(90deg, #112949 0%, #000000 100%) 0% 0%  no-repeat padding-box;
        box-shadow: 3px 0px 3px grey;
    }
    .logo{
    top: 32px;
    margin-left: 10px;
    margin-top: 10px;
    width: 42px;
    height: 46px;
}
.nav_btn{
    cursor: pointer;
    top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    background: #EB9CBA;
}
.nav_btn:hover{
    border: 4px solid grey;
    transition: 0.1s;
}
 }